.table tr td {
  height: 75px;
}

.cursor-area {
  width: 70px;
  height: 70px;
  padding-top: 45px;
  border: none;
  float: left;
}

.bottom-buffer {
   margin-bottom: 30px;
}

.area-width {
  width: 490px;
}

.box-cell {
  border: 1px solid #333333;
  float: left;
  width: 70px;
  height: 70px;
  box-sizing: border-box;
  padding-top: 15px;
}

